.top-page--information {
  background-repeat: no-repeat; 
  background-position: right bottom; /* bottom center; */
  background-size: auto 160%;
  /*background-position: center;
  background-size: cover;*/
  /*background-color: #000;*/
  padding: 0;
}

@media screen and (max-width: 768px) {
.top-page--information {
    background-size: 100% auto;
  }
}

.top-page__inner--information {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  width: 50%;
  min-height: 330px;
  /*background: rgba(0, 0, 0, 0.3);*/
}

@media screen and (max-width: 768px) {
  .top-page__inner--information {
    width: 70%;
    background-size: 100% auto;
  }
}
 
@media screen and (max-width: 480px) {
  .top-page__inner--information {
    width: 100%;
  }
}

.top-page__title--information {
  font-size: 2em;
  color: #333;
}

.top-page__slogan--information {
  color: #333;
}

.s-information {
  padding: 25px 0;
}

.s-information__title {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 600;
  text-transform: uppercase;
  color: #444444;
}

.article__item--info {
  margin: 0 auto 20px auto;
  color: red;
}

.article__item--payment {
  margin: 0 auto 20px auto;
  color: blue;
}

.article__item--privacy {
  margin: 0 auto 20px auto;
  color: #444444;
}

.article__title-box--info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.article__title--info {
  /*margin-top: 20px;*/
  color: #333333;
}

.article__icon--info {
  width: 50px;
  margin-left: 10px;
}

.article__image--info {
  display: block;
  max-width: 100%;
  margin: auto;
  object-fit: cover;
}

.article__list--info,
.article__list--payment,
.article__list--privacy {
  margin-left: -15px;
  list-style-type: disc;   
}

.article__list--info {
  color: lime;
}

.article__list--payment {
  color: orange;
}

.article__title-box--payment {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.article__title--payment {
  color: magenta;
}

.article__icon--payment {
  margin-left: 10px;
  width: 50px;
}

.article__image--payment {
  display: block;
  max-width: 100%;
  margin: auto;
  object-fit: cover;
}

.article__image--privacy {
  display: block;
  max-width: 100%;
  margin: auto;
  object-fit: cover;
}

.article__ul--info,
.article__ul--payment,
.article__ul--privacy {
  margin-top: 0;
}

.article__note--payment {
  color: red;  
}

